In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
items=pd.read_csv('DMC_2022_task/items.csv', sep= "|")
orders=pd.read_csv('DMC_2022_task/orders.csv', sep= "|")

In [ ]:
categories=pd.DataFrame(categories)
categories['values']=1

In [ ]:
fig= px.sunburst( categories, path= ['parent_category', 'category'], values = categories['values'])
fig.show()

In [ ]:
fig= px.treemap( categories, path= ['parent_category', 'category'], color='parent_category')
fig.show()

In [3]:
new= items["categories"].str.split(',', expand=True)
new.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,[2890,855,3908,3909],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[3270,163,284,1694,12,3837,2422,3595,3561,3912,...,None,None,None,None,None,None,None,None,None,None
3,[3270],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[2470],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None