In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [2]:
item_orders_dec = pd.read_csv("../../Data/train_before_dec.csv")
item_orders_dec["date"] = pd.to_datetime(item_orders_dec["date"])
item_orders_dec

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,purchaseWeek
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1
...,...,...,...,...,...,...,...,...,...,...,...,...
767126,2020-11-30,22541,746,1,406,10,0,503,0,17,"[3704, 2833, 146, 308, 3540, 2980, 1138]",0
767127,2020-11-30,36315,22834,20,993,10,3,515,0,190,[3916],0
767128,2020-11-30,7736,18630,3,6,4,0,291,0,44,"[2977, 30, 1515, 1760, 2932, 377, 3727, 747, 3...",0
767129,2020-11-30,7736,29657,8,18,10,0,345,0,84,"[1515, 2330, 1760, 3245, 2443, 3173, 3915, 391...",0
767130,2020-11-30,10215,29037,1,1180,4,0,327,0,163,"[2256, 3042]",0

In [3]:
item_orders_jan = pd.read_csv("../../Data/train_before_jan.csv")
item_orders_jan["date"] = pd.to_datetime(item_orders_jan["date"])
item_orders_jan

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,purchaseWeek
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1
...,...,...,...,...,...,...,...,...,...,...,...,...
905876,2020-12-31,38399,32075,1,1111,4,0,25,3,45,"[1353, 545, 2373, 4196]",0
905877,2020-12-31,38399,23050,1,1411,4,0,22,0,151,"[545, 1763, 3912, 3300, 3586, 3914, 3915, 3962...",0
905878,2020-12-31,21613,25422,1,539,10,0,345,0,99,"[3245, 1182]",0
905879,2020-12-31,27030,52,1,799,10,1,358,0,99,[1403],0
905880,2020-12-31,27030,31073,1,1126,4,0,291,3,129,"[777, 30, 1763, 3727, 285, 3499, 3284, 3924]",0

In [5]:
NOW = dt(2020, 12, 1)

features_dec = item_orders_dec.groupby("userID").agg({
    "date": lambda x: (NOW - x.max()).days,
    "itemID": "size",
    "order": ["mean", "sum"],
    }).reset_index()

features_dec.columns = ["userID", "recency", "frequency", "quantity_avg", "quantity_total"]
features_dec.tail()

       userID  recency  frequency  quantity_avg  quantity_total
45760   46133        9         21      1.095238              23
45761   46134       17         26      1.230769              32
45762   46135       18          6      1.666667              10
45763   46136       33         32      1.812500              58
45764   46137       75          5      1.400000               7

In [6]:
NOW = dt(2021, 1, 1)

features_jan = item_orders_jan.groupby("userID").agg({
    "date": lambda x: (NOW - x.max()).days,
    "itemID": "size",
    "order": ["mean", "sum"],
    }).reset_index()

features_jan.columns = ["userID", "recency", "frequency", "quantity_avg", "quantity_total"]
features_jan.tail()

       userID  recency  frequency  quantity_avg  quantity_total
46026   46133       40         21      1.095238              23
46027   46134       19         27      1.222222              33
46028   46135       25          7      1.857143              13
46029   46136        4         35      1.971429              69
46030   46137      106          5      1.400000               7

In [6]:
user_item_data_dec = pd.merge(item_orders_dec, features_dec, on=["userID"], how="left").drop(["date", "categories"], axis=1)
user_item_data_dec.head()

,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,purchaseWeek,recency
0,38769,3477,1,186,6,0,196,0,45,1,1
1,42535,30474,1,193,10,3,229,3,132,1,71
2,42535,15833,1,1318,4,1,455,0,108,1,71
3,42535,20131,1,347,4,0,291,3,44,1,71
4,42535,4325,1,539,6,0,303,0,45,1,71

In [7]:
user_item_data_jan = pd.merge(item_orders_jan, features_jan, on=["userID"], how="left").drop(["date", "categories"], axis=1)
user_item_data_jan.head()

,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,purchaseWeek,recency
0,38769,3477,1,186,6,0,196,0,45,1,26
1,42535,30474,1,193,10,3,229,3,132,1,9
2,42535,15833,1,1318,4,1,455,0,108,1,9
3,42535,20131,1,347,4,0,291,3,44,1,9
4,42535,4325,1,539,6,0,303,0,45,1,9

In [8]:
submission_dec = pd.read_csv("../../Data/test_dec.csv", sep="|")

submission_dec = pd.merge(submission_dec, user_item_data_dec.drop(["purchaseWeek"], axis=1), on=["userID", "itemID"], how="left")
submission_dec = submission_dec.drop_duplicates(["userID", "itemID"])
submission_dec

,userID,itemID,prediction,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,recency
0,0,20664,2,1,408,4,0,284,0,66,11
2,0,28231,2,1,193,4,3,468,3,108,11
3,13,2690,4,1,406,4,3,491,0,66,32
6,15,1299,4,1,1056,4,0,474,-1,108,2
8,15,20968,4,1,1315,4,0,444,0,144,2
...,...,...,...,...,...,...,...,...,...,...,...
23512,46118,20106,4,1,1111,4,0,491,0,66,19
23516,46124,19677,4,1,1006,4,0,491,3,154,2
23520,46125,12878,0,1,1111,4,0,491,0,66,16
23522,46127,7963,2,2,1111,4,0,485,3,154,2
23526,46130,395,3,1,745,4,0,399,3,163,3

In [9]:
submission_jan = pd.read_csv("../../Data/test_jan.csv", sep="|")

submission_jan = pd.merge(submission_jan, user_item_data_jan.drop(["purchaseWeek"], axis=1), on=["userID", "itemID"], how="left")
submission_jan = submission_jan.drop_duplicates(["userID", "itemID"])
submission_jan

,userID,itemID,prediction,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,recency
0,0,20664,0,1,408,4,0,284,0,66,21
3,0,28231,4,1,193,4,3,468,3,108,21
5,13,2690,0,1,406,4,3,491,0,66,8
9,15,1299,2,1,1056,4,0,474,-1,108,6
12,15,20968,4,1,1315,4,0,444,0,144,6
...,...,...,...,...,...,...,...,...,...,...,...
27715,46118,20106,0,1,1111,4,0,491,0,66,9
27720,46124,19677,4,1,1006,4,0,491,3,154,7
27725,46125,12878,4,1,1111,4,0,491,0,66,5
27727,46127,7963,0,2,1111,4,0,485,3,154,18
27732,46130,395,0,1,745,4,0,399,3,163,12

In [10]:
user_item_target_dec = user_item_data_dec["purchaseWeek"]
user_item_body_dec = user_item_data_dec.drop(columns="purchaseWeek")

submission_target_dec = submission_dec["prediction"]
submission_body_dec = submission_dec.drop(columns="prediction")

In [11]:
user_item_target_jan = user_item_data_jan["purchaseWeek"]
user_item_body_jan = user_item_data_jan.drop(columns="purchaseWeek")

submission_target_jan = submission_dec["prediction"]
submission_body_jan = submission_dec.drop(columns="prediction")

In [12]:
# Temporal change of working directory to import function
import os
os.chdir("../../Helper_Functions")
from evaluation_pipeline import evaluate_models, calculate_feature_gain
# Needs to be current working directory
os.chdir("../EDA/Alex")

In [13]:
df, pred_dec, pred_jan = calculate_feature_gain(user_item_body_dec, user_item_target_dec, user_item_body_jan, user_item_target_jan, features=["recency"], path_to_data="../../Data")

In [14]:
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.329941,0.044512,0.303765,0.317867,0.014102,0.294597,0.323904,0.029307
GaussianNB,0.293704,0.311299,0.017596,0.300088,0.306371,0.006283,0.296896,0.308835,0.011939
KNeighborsClassifier,0.316530,0.317386,0.000856,0.313445,0.313026,-0.000419,0.314988,0.315206,0.000219
DecisionTreeClassifier,0.317767,0.318005,0.000238,0.314516,0.314237,-0.000279,0.316141,0.316121,-0.000021

In [15]:
pred_dec

      userID  itemID  prediction
0          0   20664           1
1          0   28231           3
2         13    2690           0
3         15    1299           0
4         15   20968           0
...      ...     ...         ...
9740   46118   20106           1
9741   46124   19677           2
9742   46125   12878           1
9743   46127    7963           0
9744   46130     395           1

[9745 rows x 3 columns]

In [16]:
pred_jan

      userID  itemID  prediction
0          0   20664           2
1          0   28231           2
2         13    2690           4
3         15    1299           0
4         15   20968           0
...      ...     ...         ...
9935   46118   20106           1
9936   46124   19677           2
9937   46125   12878           1
9938   46127    7963           0
9939   46130     395           1

[9940 rows x 3 columns]

In [17]:
# df, labels = evaluate_models(user_item_body, user_item_target, submission_body, submission_target)